<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    
    <h2>Sign up to start creating blogs</h2>

    

    <form action="/signup" method="post">

        <input placeholder="Name" name="name" type="text"><br><br>
        <input placeholder="Email" name="email" type="email"><br><br>
        <input placeholder="password" name="password" type="password"><br><br>
        <input placeholder="confirm password" name="confirm_password" type="password"><br><br>
        <input type="submit" value="Submit">
    </form>

    <br><br>
    <p>Already have an account? <a href="/login" style="color:red;">Login</a></p>
</body>
</html>